:root {
    --bg-color: #D8CFF4;
    --card-bg: #F4D06F;
    --text-color: #56494C;
    --accent-color: #9DD9D2;
    --hover-color: #392F5A;
    --hover-text-color: #FFF8F0;
    --shadow-color: rgba(0, 0, 0, 0.1);
}

body {
    background-image: url('/wave-haikei.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--bg-color);
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}


.custom-card {
    background-image: url('/blob-scene-haikei.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
}


a:hover {
    color: var(--hover-color);
}

.btn-primary {
    background-color: var(--bg-color);
    border-color: var(--bg-color);
    color: var(--text-color);
    }

.btn-primary:hover, .btn-primary:focus {
    background-color: var(--hover-color);
    border-color: var(--hover-color);
    color: var(--hover-text-color);
}

.btn-custom {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: inherit;
    cursor: pointer;
    font-weight: 500;
    font-size: 17px;
    padding: 0.8em 1.5em;
    color: var(--text-color);
    background: linear-gradient(
        0deg,
        var(--accent-color) 0%,
        #75bdb6 100%
    );
    border: none;
    box-shadow: 0 0.7em 1.5em -0.5em rgba(157, 217, 210, 0.7);
    letter-spacing: 0.05em;
    border-radius: 20em;
    text-decoration: none;
    transition: box-shadow 0.3s ease;
    width: 100%;
    max-width: 220px;
    margin: 0 auto;
}

.btn-custom:hover {
    box-shadow: 0 0.5em 1.5em -0.5em rgba(57, 47, 90, 0.7);
    background: var(--hover-color);
    color: var(--hover-text-color);
}

.btn-custom:active {
    box-shadow: 0 0.3em 1em -0.5em rgba(57, 47, 90, 0.7);
}

#quote-box {
    height: 21rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;
    width: 100%;
    max-width: 30rem;
    background-image: url('/blob-scene-haikei.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
}

#quote-content {
    max-height: 10rem;
    overflow-y: auto;
    padding-right: 0.5rem;
}




